munch==2.5.0
PyYAML==5.4.1
torch==1.7.1
torch --extra-index-url https://download.pytorch.org/whl/cu113
torchvision --extra-index-url https://download.pytorch.org/whl/cu113
tqdm==4.50.2
packaging==21.0
pandas
opencv-python
git+https://github.com/lmkoch/multi-level-split#egg=multi-level-split
